@font-face {
  font-family: "UberMoveMedium";
  src: url("../../assets/fonts/UberMoveMedium.otf");
}
.first_section {
  background-color: rgba(0, 0, 0, 0.986);
  display: flex;
  align-items: center;
  padding: 4% 6%;
}
.left {
  flex: 40%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: flex-start;
  margin-right: 15%;
}
.right {
  flex: 60%;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.left h1 {
  font-family: "UberMoveMedium";
  font-size: 3em;
  font-weight: 400;
  margin: 0;
}
.left p {
  font-size: 1.1em;
  line-height: 24px;
  margin: 40px 0;
}
.learnMoreButton {
  width: fit-content;
  background-color: white;
  border: none;
  border-radius: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 15px 35px;
}
.right img {
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .first_section {
    flex-direction: column-reverse;
  }
  .left {
    margin: 5% 0;
  }
}
