@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@font-face {
  font-family: "UberMoveMedium";
  src: url("../../assets/fonts/UberMoveMedium.otf");
}
#Earn {
  background: url("../../assets/earn.jpg");
  background-size: cover;
}
#Ride {
  background: url("../../assets/ride.jpg");
  background-size: cover;
}
#Eat {
  background: url("../../assets/eat.jpg");
  background-size: cover;
}
#Business {
  background: url("../../assets/business.jpg");
  background-size: cover;
}
#Freight {
  background: url("../../assets/freight.jpg");
  background-size: cover;
}
#Transit {
  background: url("../../assets/transit.jpg");
  background-size: cover;
}
#BikeScoot {
  background: url("../../assets/bikes.jpg");
  background-size: cover;
}
#Elevate {
  background: url("../../assets/elevate.jpg");
  background-size: cover;
}
.services__container {
  margin: 0;
  padding: 70px 15%;
  display: flex;
  justify-content: center;
  height: 720px;
}

.services__innerContainer {
  width: 100%;
}
.services__tabList {
  background-color: white;
}
.services__tabList ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}
.services__tabList li {
  width: 15%;
  padding: 25px 1% 20px;
  text-align: center;
  border-bottom: 4px solid transparent;
}
.services__tabList li > span {
  line-height: 40px;
}
.services__tabList li:hover {
  border-bottom: 4px solid black;
}
.services__content {
  background-color: white;
  width: 42%;
  padding: 50px;
  border-top: 1px solid rgb(228, 228, 228);
}
.services__content h1 {
  font-family: "UberMoveMedium";
  font-size: 3em;
  font-weight: 400;
  margin: 0;
}
.services__content p {
  font-size: 1em;
  margin: 30px 0;
}
.services__content button {
  width: fit-content;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 15px 35px;
}
.requestNowButton {
  margin-right: 5%;
}
.scheduleForLaterButton {
  width: fit-content;
  background-color: rgb(228, 228, 228) !important;
  color: black !important;
  border: none;
  border-radius: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 15px 35px;
}
.services__content input {
  width: calc(100% - 35px);
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 0px;
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  padding: 15px 0 15px 35px;
  margin: 3px 0;
}
.services__content input:nth-child(2) {
  margin-top: 30px;
}
.services__content input:nth-child(4) {
  margin-bottom: 35px;
}
.services__content a {
  color: black;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.services__content a:hover {
  color: black;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 1280px) {
  .services__container {
    padding: 0;
  }
  .services__content {
    width: 100%;
  }
}
